html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}area, textarea{
	height: 220px;
}
textarea {
  resize: none;
}span {
    color: tomato;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
}body #welcome{
    background-image: url('https://ojln9w.bl.files.1drv.com/y4mkI_zV8vfhbDEYtL-ilGSiyxiAVU-Pz10qVUcAnMzn_YFbltDywvoI2G7Nt3jRc238JsQLc8Y72z-lIyQfQhWqYbmKl__IzsYI1RAIAyhha6SGNRuS4O0-cgRHaTFpF37YilGXzKytcTF1i_xbFJpVLG2lqgfgaiD6u7ThCobUVfBJwhzZqDlF9YxLG7Y0Fvm4vb5sb-ZO-yqtBKhjMUCHw?width=1080&height=810&cropmode=none');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}li.item-1{
    margin-left: 5%;
}li.item-2{
    margin-left: 7%;
}li.item-3{
    margin-left: 2%;
}li.item-4{
    margin-left: 5%;
}.toolbar-mobile{
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 90px;
}div #form-register{
    opacity: 0;
}div #alertsRegister, div #alertsLogin{
    opacity: 0;
}